Package: librestaff
Version: librestaff_0.0-15
Section: base
Priority: optional
Architecture: i386
Depends:
Maintainer: Runs <runspect@gmail.com>
Description: LibreStaff
 Management software for enterprises.
